<div class="modal fade" id="dataprotectmodal" tabindex="-2" data-keyboard="false" data-show="false" role="dialog" aria-labelledby="dataprotectmodal_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dataprotectmodal_label"><%- dataprotectmodal_title %></h5>
      </div>
      <div class="modal-body">
          <p>The data protection notes can be stored in the HTML file under <code>www/dataprotect.html</code>.</p>
      </div>
      <div class="modal-footer">
          <button id="restricted-consent-btn" type="button" class="btn btn-primary"><%- dataprotectmodal_close_btn %></button>
      </div>
    </div>
  </div>
</div>
